In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("resources/bigmart_data.csv")
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

# apply()

In [5]:
# Access all rows, one by one row wise
df.apply(lambda x : x)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [7]:
# Access a single row
df.apply(lambda x : x[4])

Item_Identifier                          NCD19
Item_Weight                               8.93
Item_Fat_Content                       Low Fat
Item_Visibility                              0
Item_Type                            Household
Item_MRP                               53.8614
Outlet_Identifier                       OUT013
Outlet_Establishment_Year                 1987
Outlet_Size                               High
Outlet_Location_Type                    Tier 3
Outlet_Type                  Supermarket Type1
Item_Outlet_Sales                      994.705
dtype: object

In [8]:
# Access a single column
df.apply(lambda x : x[0], axis = 1)

0       FDA15
1       DRC01
2       FDN15
3       FDX07
4       NCD19
        ...
8518    FDF22
8519    FDS36
8520    NCJ29
8521    FDN46
8522    DRG01
Length: 8523, dtype: object

In [13]:
# Access using column name
df.apply(lambda x : x['Item_Fat_Content'], axis=1)

0       Low Fat
1       Regular
2       Low Fat
3       Regular
4       Low Fat
         ...
8518    Low Fat
8519    Regular
8520    Low Fat
8521    Regular
8522    Low Fat
Length: 8523, dtype: object

In [19]:
def clip_price(price):
    if price>200:
        price = 200
    return price

In [20]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [22]:
df['Item_MRP'].apply(lambda x : clip_price(x))

0       200.0000
1        48.2692
2       141.6180
3       182.0950
4        53.8614
          ...
8518    200.0000
8519    108.1570
8520     85.1224
8521    103.1332
8522     75.4670
Name: Item_MRP, Length: 8523, dtype: float64

In [23]:
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [24]:
df['Item_MRP'].apply(lambda x : 200 if x>200 else x)

0       200.0000
1        48.2692
2       141.6180
3       182.0950
4        53.8614
          ...
8518    200.0000
8519    108.1570
8520     85.1224
8521    103.1332
8522     75.4670
Name: Item_MRP, Length: 8523, dtype: float64

In [27]:
def label_encode(city):
    if city == 'Tier 1':
            label = 0
    elif city == 'Tier 2':
            label = 1
    else:
            label = 2
    return label

In [29]:
df['Outlet_Location_Type'].apply(lambda x : label_encode(x))

0       0
1       2
2       0
3       2
4       2
       ..
8518    2
8519    1
8520    1
8521    2
8522    0
Name: Outlet_Location_Type, Length: 8523, dtype: int64

# Aggregating Data

#### What is the mean price of each item type?

In [37]:
price_by_item =df.groupby('Item_Type')
# price_by_item
price_by_item.first()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Type,,,,,,,,,,,
Baking Goods,FDP36,10.395,Regular,0.000000,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
Breads,FDO23,17.850,Low Fat,0.000000,93.1436,OUT045,2002,Medium,Tier 2,Supermarket Type1,2174.5028
Breakfast,FDP49,9.000,Regular,0.069089,56.3614,OUT046,1997,Small,Tier 1,Supermarket Type1,1547.3192
Canned,FDC14,21.350,Regular,0.072222,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
Dairy,FDA15,9.300,Low Fat,0.016047,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
Frozen Foods,FDH17,16.200,Regular,0.016687,96.9726,OUT045,2002,Small,Tier 2,Supermarket Type1,1076.5986
Fruits and Vegetables,FDX07,19.200,Regular,0.000000,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
Hard Drinks,DRI11,11.650,Low Fat,0.034238,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
Health and Hygiene,NCB42,11.800,Low Fat,0.008596,115.3492,OUT018,2009,Medium,Tier 3,Supermarket Type2,1621.8888
Household,NCD19,8.930,Low Fat,0.000000,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
Meat,FDN15,17.500,Low Fat,0.016760,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
Others,NCN07,18.500,Low Fat,0.056816,132.1284,OUT010,1998,Small,Tier 3,Grocery Store,263.6568
Seafood,FDG33,10.395,Regular,0.139561,170.4764,OUT027,1985,Medium,Tier 3,Supermarket Type3,3435.5280
Snack Foods,FDO10,13.650,Regular,0.012741,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
Soft Drinks,DRC01,5.920,Regular,0.019278,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
Starchy Foods,FDH35,18.250,Low Fat,0.000000,164.7526,OUT045,2002,Medium,Tier 2,Supermarket Type1,4604.6728

In [38]:
price_by_item['Item_MRP'].mean()

Item_Type
Baking Goods             126.380766
Breads                   140.952669
Breakfast                141.788151
Canned                   139.763832
Dairy                    148.499208
Frozen Foods             138.503366
Fruits and Vegetables    144.581235
Hard Drinks              137.077928
Health and Hygiene       130.818921
Household                149.424753
Meat                     139.882032
Others                   132.851430
Seafood                  141.841719
Snack Foods              146.194934
Soft Drinks              131.492506
Starchy Foods            147.838023
Name: Item_MRP, dtype: float64

In [40]:
price_by_item[['Item_MRP', 'Item_Fat_Content']]
price_by_item.first()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Type,,,,,,,,,,,
Baking Goods,FDP36,10.395,Regular,0.000000,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
Breads,FDO23,17.850,Low Fat,0.000000,93.1436,OUT045,2002,Medium,Tier 2,Supermarket Type1,2174.5028
Breakfast,FDP49,9.000,Regular,0.069089,56.3614,OUT046,1997,Small,Tier 1,Supermarket Type1,1547.3192
Canned,FDC14,21.350,Regular,0.072222,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
Dairy,FDA15,9.300,Low Fat,0.016047,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
Frozen Foods,FDH17,16.200,Regular,0.016687,96.9726,OUT045,2002,Small,Tier 2,Supermarket Type1,1076.5986
Fruits and Vegetables,FDX07,19.200,Regular,0.000000,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
Hard Drinks,DRI11,11.650,Low Fat,0.034238,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
Health and Hygiene,NCB42,11.800,Low Fat,0.008596,115.3492,OUT018,2009,Medium,Tier 3,Supermarket Type2,1621.8888
Household,NCD19,8.930,Low Fat,0.000000,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
Meat,FDN15,17.500,Low Fat,0.016760,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
Others,NCN07,18.500,Low Fat,0.056816,132.1284,OUT010,1998,Small,Tier 3,Grocery Store,263.6568
Seafood,FDG33,10.395,Regular,0.139561,170.4764,OUT027,1985,Medium,Tier 3,Supermarket Type3,3435.5280
Snack Foods,FDO10,13.650,Regular,0.012741,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
Soft Drinks,DRC01,5.920,Regular,0.019278,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
Starchy Foods,FDH35,18.250,Low Fat,0.000000,164.7526,OUT045,2002,Medium,Tier 2,Supermarket Type1,4604.6728

# Crosstab

In [45]:
pd.crosstab(df['Outlet_Size'], df['Outlet_Location_Type'])

Outlet_Location_Type  Tier 1  Tier 2  Tier 3
Outlet_Size
High                       0       0     932
Medium                   930       0    1863
Small                   1458     930       0

In [46]:
pd.crosstab(df['Outlet_Size'], df['Outlet_Location_Type'], margins=True)

Outlet_Location_Type  Tier 1  Tier 2  Tier 3   All
Outlet_Size
High                       0       0     932   932
Medium                   930       0    1863  2793
Small                   1458     930       0  2388
All                     2388     930    2795  6113

# Pivot Table

In [48]:
pd.pivot_table(df, index=['Outlet_Establishment_Year'], values=['Item_Outlet_Sales'])

                           Item_Outlet_Sales
Outlet_Establishment_Year
1985                             2483.677474
1987                             2298.995256
1997                             2277.844267
1998                              339.351662
1999                             2348.354635
2002                             2192.384798
2004                             2438.841866
2007                             2340.675263
2009                             1995.498739

In [49]:
pd.pivot_table(df, index=['Outlet_Establishment_Year', 'Outlet_Location_Type', 'Outlet_Size'], values=['Item_Outlet_Sales'])

                                                            Item_Outlet_Sales
Outlet_Establishment_Year Outlet_Location_Type Outlet_Size
1985                      Tier 1               Small               340.329723
                          Tier 3               Medium             3694.038558
1987                      Tier 3               High               2298.995256
1997                      Tier 1               Small              2277.844267
1999                      Tier 1               Medium             2348.354635
2004                      Tier 2               Small              2438.841866
2009                      Tier 3               Medium             1995.498739

In [51]:
pd.pivot_table(df, index=['Outlet_Establishment_Year', 'Outlet_Location_Type', 'Outlet_Size'], values=['Item_Outlet_Sales'],\
              aggfunc=[np.mean, np.median, min, max, np.std])

                                                                        mean  \
                                                           Item_Outlet_Sales
Outlet_Establishment_Year Outlet_Location_Type Outlet_Size
1985                      Tier 1               Small              340.329723
                          Tier 3               Medium            3694.038558
1987                      Tier 3               High              2298.995256
1997                      Tier 1               Small             2277.844267
1999                      Tier 1               Medium            2348.354635
2004                      Tier 2               Small             2438.841866
2009                      Tier 3               Medium            1995.498739

                                                                      median  \
                                                           Item_Outlet_Sales
Outlet_Establishment_Year Outlet_Location_Type Outlet_Size
1985                      Tier 1               Small                265.3213
                          Tier 3               Medium              3364.9532
1987                      Tier 3               High                2050.6640
1997                      Tier 1               Small               1945.8005
1999                      Tier 1               Medium              1966.1074
2004                      Tier 2               Small               2109.2544
2009                      Tier 3               Medium              1655.1788

                                                                         min  \
                                                           Item_Outlet_Sales
Outlet_Establishment_Year Outlet_Location_Type Outlet_Size
1985                      Tier 1               Small                 33.9558
                          Tier 3               Medium               241.6854
1987                      Tier 3               High                  73.2380
1997                      Tier 1               Small                101.8674
1999                      Tier 1               Medium               111.8544
2004                      Tier 2               Small                113.8518
2009                      Tier 3               Medium                69.2432

                                                                         max  \
                                                           Item_Outlet_Sales
Outlet_Establishment_Year Outlet_Location_Type Outlet_Size
1985                      Tier 1               Small               1482.0708
                          Tier 3               Medium             13086.9648
1987                      Tier 3               High               10256.6490
1997                      Tier 1               Small               9779.9362
1999                      Tier 1               Medium              7646.0472
2004                      Tier 2               Small               8479.6288
2009                      Tier 3               Medium              6768.5228

                                                                         std
                                                           Item_Outlet_Sales
Outlet_Establishment_Year Outlet_Location_Type Outlet_Size
1985                      Tier 1               Small              249.979449
                          Tier 3               Medium            2127.760054
1987                      Tier 3               High              1533.531664
1997                      Tier 1               Small             1488.405631
1999                      Tier 1               Medium            1513.289464
2004                      Tier 2               Small             1538.512533
2009                      Tier 3               Medium            1375.932889